$darkblue: #073648;
$lightgreen: #149290;

body {
	font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html {

}

body {
	color: white;
}

// main nav

.main-nav {
	background-color: $darkblue;
}
.main-nav ul {
	display: inline;
}

.main-nav-item {
	display: inline;
}

// buttons
.sign-up-btn {
	display: inline;
	text-transform: uppercase;
}

.main-call-btn {
	background-color: $lightgreen;
	border-radius: 2px;
	color: white;
	padding: 0.5em 1.5em;
	font-size: 1.5em;
	margin: 2em;
	box-shadow: 1px 1px 1px blue;
	&:hover {
		box-shadow: none;
		color: white;
	}
}

// sign up / banner section 
.main-sign-up-section {
	background: url(img/jeffersoncity02.jpeg)
}

.main-sign-up-section img {
	display: inline;
	width: 500px;
}

.main-sign-up-section button {
	text-transform: uppercase;
}

.main-sign-up-section h3,
.main-sign-up-section input {
	// display: inline;
}


// that second 3-point why use section
.main-explain-codementor {
	background-color: green;
}

.main-explain-codementor div {
	display: inline;
	text-align: center;
}

.main-explain-codementor img {
	width: 60px;
}


// use whoses codementor section
.who-uses-section {
	color: black;
}

.who-uses-section div div {
}

.who-uses-section img {
	width: 90px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.personal-story a:first-of-type {
	border-bottom: 1px solid lightgrey;
}

