body {
  font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: white;
}

.main-nav {
  background-color: #073648;
}

.main-nav ul {
  display: inline;
}

.main-nav-item {
  display: inline;
}

.sign-up-btn {
  display: inline;
  text-transform: uppercase;
}

.main-call-btn {
  background-color: #149290;
  border-radius: 2px;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  margin: 2em;
  box-shadow: 1px 1px 1px blue;
}
.main-call-btn:hover {
  box-shadow: none;
  color: white;
}

.main-sign-up-section {
  background: url(img/jeffersoncity02.jpeg);
}

.main-sign-up-section img {
  display: inline;
  width: 500px;
}

.main-sign-up-section button {
  text-transform: uppercase;
}

.main-explain-codementor {
  background-color: green;
}

.main-explain-codementor div {
  display: inline;
  text-align: center;
}

.main-explain-codementor img {
  width: 60px;
}

.who-uses-section {
  color: black;
}

.who-uses-section img {
  width: 90px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.personal-story a:first-of-type {
  border-bottom: 1px solid lightgrey;
}
