<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Codementor.io clone
	link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
	link(rel="stylesheet", type="text/css", href="main.css")
body
	
	nav.main-nav
		
	main
		article
