<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Codementor.io clone
	link(rel="stylesheet", type="text/css", href="main.css")
body
	
	p test test
	//- nav.main-nav
	//- main
	//- 	article
